@*
    Admin Sidebar Component Partial View
*@

<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div>
        <div class="brand-logo d-flex align-items-center justify-content-between">
            <a href="/Statistics" class="text-nowrap logo-img">
                <img src="/Spike-Bootstrap-1.0.0/src/assets/images/logos/logo.svg" alt="" />
            </a>
            <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
                <i class="ti ti-x fs-8"></i>
            </div>
        </div>
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
            <ul id="sidebarnav">
                <!-- HOME -->
                <li class="nav-small-cap">
                    <iconify-icon icon="solar:menu-dots-linear" class="nav-small-cap-icon fs-4"></iconify-icon>
                    <span class="hide-menu">Ana Menü</span>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link primary-hover-bg" href="/Statistics" aria-expanded="false">
                        <iconify-icon icon="solar:atom-line-duotone"></iconify-icon>
                        <span class="hide-menu">Dashboard</span>
                    </a>
                </li>

                <!-- YÖNETİM -->
                <li class="nav-small-cap">
                    <iconify-icon icon="solar:menu-dots-linear" class="nav-small-cap-icon fs-4"></iconify-icon>
                    <span class="hide-menu">Yönetim</span>
                </li>
                
                <!-- Rezervasyonlar -->
                <li class="sidebar-item">
                    <a class="sidebar-link primary-hover-bg" href="/Booking/BookingList" aria-expanded="false">
                        <iconify-icon icon="solar:calendar-line-duotone"></iconify-icon>
                        <span class="hide-menu">Rezervasyonlar</span>
                    </a>
                </li>

                <!-- Turlar/Destinasyonlar -->
                <li class="sidebar-item">
                    <a class="sidebar-link primary-hover-bg" href="/Destination/DestinationList" aria-expanded="false">
                        <iconify-icon icon="solar:map-point-line-duotone"></iconify-icon>
                        <span class="hide-menu">Turlar</span>
                    </a>
                </li>

                <!-- Kategoriler -->
                <li class="sidebar-item">
                    <a class="sidebar-link primary-hover-bg" href="/Category/CategoryList" aria-expanded="false">
                        <iconify-icon icon="solar:folder-line-duotone"></iconify-icon>
                        <span class="hide-menu">Kategoriler</span>
                    </a>
                </li>

                <!-- İÇERİK -->
                <li class="nav-small-cap">
                    <iconify-icon icon="solar:menu-dots-linear" class="nav-small-cap-icon fs-4"></iconify-icon>
                    <span class="hide-menu">İçerik</span>
                </li>

                <!-- Hizmetler -->
                <li class="sidebar-item">
                    <a class="sidebar-link primary-hover-bg" href="/Service/ServiceList" aria-expanded="false">
                        <iconify-icon icon="solar:widget-line-duotone"></iconify-icon>
                        <span class="hide-menu">Hizmetler</span>
                    </a>
                </li>

                <!-- Referanslar -->
                <li class="sidebar-item">
                    <a class="sidebar-link primary-hover-bg" href="/Testimonial/TestimonialList" aria-expanded="false">
                        <iconify-icon icon="solar:chat-line-line-duotone"></iconify-icon>
                        <span class="hide-menu">Referanslar</span>
                    </a>
                </li>

                <!-- HIZLI ERİŞİM -->
                <li class="nav-small-cap">
                    <iconify-icon icon="solar:menu-dots-linear" class="nav-small-cap-icon fs-4"></iconify-icon>
                    <span class="hide-menu">Hızlı Erişim</span>
                </li>

                <!-- Siteye Git -->
                <li class="sidebar-item">
                    <a class="sidebar-link primary-hover-bg" href="/Default" target="_blank" aria-expanded="false">
                        <iconify-icon icon="solar:globe-line-duotone"></iconify-icon>
                        <span class="hide-menu">Siteye Git</span>
                    </a>
                </li>

            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>